<!-- start custom footer snippets -->
<div style="text-align: center;">
     <a href="https://hits.seeyoufarm.com">
          <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fchoco0908.github.io&count_bg=%23070D03&title_bg=%23A8A4A4&icon=notion.svg&icon_color=%232F0808&title=Visitors&edge_flat=false"/>
     </a>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6392784614255185"
     crossorigin="anonymous"></script>
<!-- sidebar 광고 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6392784614255185"
     data-ad-slot="1503251684"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->